{% extends "base.html" %}

{% block content %}

<h1>{{ quiz.title }}</h1>
<p>{{ quiz.description }}</p>

<form method="post" action="{% url 'submit_quiz' quiz.id %}">
    {% csrf_token %}
    {% for question in questions %}
    <div class="mb-3">
        <p class="mb-0"><b>{{ forloop.counter }}</b>. {{ question.text }}</p>

        {% for choice, text in question.choices.items %}

        <div class="form-check ms-3">
            <input
                class="form-check-input border-success" type="radio"
                name="{{ question.id }}"
                value="{{ choice }}">
            <label class="form-check-label">
              {{ choice }} - {{ text }}
            </label>
          </div>

        {% endfor %}
    </div>
    {% endfor %}
    <input type="hidden" name="completion_time" id="completion_time">
    <button type="submit">Submit</button>
</form>

{% endblock content %}
