{% extends "base.html" %}

{% block content %}

<!-- USE BOOTSTRAP CARDS TO SHOW LIST OF QUIZZES -->

<!-- BOOTSTRAP CARD BEGIN -->

<h1 class="text-center">Quizzes</h1>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    {% for quiz in quizzes %}
        <div class="col">

        <div class="card h-100">

            <div class="card-body">
                <h5 class="card-title">{{ quiz.title }}</h5>
                <p class="card-text">{{ quiz.description }}</p>
            </div>
            <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
            <a class="stretched-link" href="{% url 'quiz_detail' quiz.id %}"></a>
        </div>
        </div>
    {% endfor %}
</div>

  <!-- BOOTSTRAP CARD END -->

{% endblock content %}
