{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Quiz Wiz</title>

    <!-- Bootstrap core CSS -->
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %} "
      rel="stylesheet"
    />

    <!-- Favicons -->
    <link href="{% static 'images/quiz.png' %}" rel="icon" />

    <link href="{% static 'css/main.css' %} " rel="stylesheet" />

    {% block custom_styling %} {% endblock custom_styling %}
  </head>
  <body class="color">
    <main class="color">
      <!-- NEW NAVBAR -->
      <nav class="navbar navbar-expand-lg px-lg-5">
        <div class="container-fluid">
          <img
            src="{% static 'images/quiz.png' %}"
            alt="Logo"
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          <a class="navbar-brand" href="{% url 'home' %}">Quiz Wiz</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{% url 'quiz_list' %}"
                  >Quizzes</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">For Developers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="d-flex">
              <a href="{% url 'login' %}" class="btn text-white btn-outline-primary me-3">Login</a>
              <a href="{% url 'register' %}" class="btn btn-primary">Sign-up</a>
            </div>
          </div>
        </div>
      </nav>
      <!-- /NEW NAVBAR -->
      <!-- NAVBAR -->
      <div class="container">
        <header
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
        >
          <a
            href="{% url 'home' %}"
            class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
          >
            <img src="{% static 'images/quiz.png' %}" width="40" height="32" />
            <h3 class="logo">Quiz Wiz</h3>
          </a>

          <ul
            class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"
          >
            <li>
              <a href="{% url 'quiz_list' %}" class="nav-link px-2 link-light"
                >Quizzes</a
              >
            </li>
            <li>
              <a href="{% url 'home' %}#about" class="nav-link px-2 link-light"
                >About</a
              >
            </li>
            <li>
              <a href="#" class="nav-link px-2 link-light">For Developers</a>
            </li>
            <li><a href="#" class="nav-link px-2 link-light">Contact Us</a></li>
          </ul>

          <div class="col-md-3 text-end">
            {% if user.is_authenticated %}
            <li class="nav-item btn-group dropdown">
              <a
                class="link-light btn btn-primary dropdown-toggle"
                type="button"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Username
              </a>
              <ul class="dropdown-menu dropdown-menu-start">
                <li>
                  <a class="dropdown-item" href="{% url 'user_dashboard' %}"
                    >User Dashboard</a
                  >
                </li>

                {% if user.is_quiz_master %}
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'quiz_master_dashboard' %}"
                    >Quiz Dashboard</a
                  >
                </li>
                {% endif %}
                <li>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </li>
              </ul>
            </li>

            {% else %}
            <ul class="nav">
              <li class="nav-item">
                <a
                  href="{% url 'login' %}"
                  class="text-white btn btn-outline-primary me-2"
                  >Login</a
                >
              </li>
              <li class="nav-item">
                <a href="{% url 'register' %}" class="btn btn-primary"
                  >Sign-up</a
                >
              </li>
            </ul>
            {% endif %}
          </div>
        </header>
        {% block logincontent %}
        <!-- refactor this -->

        {% endblock logincontent %}
        <div id="global_container">
          {% block content %} {% endblock content %}
        </div>

        <footer class="pt-3 mt-4 text-white text-center border-top">
          Quiz Wiz &copy; 2024
        </footer>
      </div>
    </main>
  </body>
</html>
