{% extends 'base.html' %}


{% block content %}

  <!-- HERO SECTION -->
  <div class="container py-4">

    <div id="hero-container" class="p-5 mb-4 bg-light rounded-3">
      <div class="text-white container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to Quiz Wiz</h1>
        <p class="col-lg-6 col-md-8 fs-4 ">
            Challenge your mind and master new topics with our engaging quizzes. Start your journey to becoming a quiz champion today!
        </p>
        <button class="btn btn-success btn-lg" type="button">Take a Quiz</button>
      </div>
    </div>
    <!-- /HERO SECTION -->

    <div class="row align-items-md-stretch">
      <div class="col-md-6 pb-sm-3">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Create an Account</h2>
          <p>
            Sign-up today and enjoy many features like the ability to take quizzes
            Check your perfomance and quiz statistics
          </p>
          <a href="{% url 'register' %}" class="btn btn-primary" type="button">Create Account</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>API for Developers</h2>
          <p>
            Developers, we have an API, for you to take advantage of our vast quizzes. Create a developer
            Account and you can access our repository of quizzes. You can access the API docs <a class="link-light" href="#docs">here</a>
          </p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>

    <!-- ABOUT SECTION -->
    <div id="about" class="text-white container mt-lg-5 pt-lg-3">
      <h2>About Quiz Wiz</h2>
      <p class="lead text-white pb-2">
        Quiz Wiz is all about making learning fun and accessible through interactive quizzes.
      </p>
    <div class="row align-items-md-stretch pb-lg-5 pb-sm-2 mb-lg-5">
      <div class="col-md-6">
        <div class="h-100 text-white rounded-3">
          <p>
            Whether you're looking to challenge yourself, improve your skills,
            or simply enjoy a brain-teasing quiz, we've got something for you.
          </p>
          <ul>
            <li>Explore a variety of subjects with carefully crafted quizzes.</li>
            <li>Engage in a user-friendly experience designed for all ages.</li>
            <li>Challenge yourself or compete with others to test your knowledge.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100">
          <p>
            At Quiz Wiz, we believe that learning should be an enjoyable and rewarding
            journey. Our platform offers an engaging environment where you can explore,
            challenge, and grow your knowledge across various topics. Whether you're
            here to learn something new or to prove your mastery, Quiz Wiz is your
            ultimate destination. Join us today and start your journey towards knowledge!
        </p>
        <a href="{% url 'register' %}" class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
